name: Scan

on:
  workflow_dispatch:
  schedule:
    - cron: "28 2 * * *"

jobs:
  build:
    permissions: 
      actions: write
      contents: write
    runs-on: ubuntu-latest
    steps:
    -
      name: Discover
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh workflow --repo $GITHUB_REPOSITORY enable scan.yml
        while read LINE; do
          echo "Missing branch for source tag $LINE. Triggering build."
          gh workflow --repo $GITHUB_REPOSITORY run build.yml -f venus_tag=$LINE
        done < <(comm -13 \
          <(git ls-remote --heads https://github.com/$GITHUB_REPOSITORY.git 'refs/heads/v*' | cut -f2 | cut -d/ -f3 | sort) \
          <(git ls-remote --tags https://github.com/victronenergy/venus.git 'refs/tags/v*' | cut -f2 | cut -d/ -f3 | grep -v 'v[12]\.'|  grep -vF 'v3.61' | sort))
